<div class="container d-flex justify-content-around mt-5">

<!-- <button class="btn btn-primary" (click)="ingresar()">Log with Google</button> -->

<div class="card text-center">
    <div class="card-header">
      Logging
    </div>
    <div class="card-body">
      <h5 class="card-title">Marvel Cards Game</h5>
      <p class="card-text">Bienvenido por favor ingresa con un correo y disfruta del juego.</p>
      <button class="btn btn-primary" (click)="ingresar()">Log with Google</button>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

</div>