/* You can add global styles to this file, and also import other style files */
body{
    height: 100%;
    width: 100%;
    background-color: rgba(151, 151, 151, 0.177);
    background-position: 50% 50%;
    background-size: 1920px 1200px;
}