<button class="btn btn-primary mt-2" (click)="volver()">Volver a los lobbies</button>
<div class="container d-flex justify-content-around mt-5">

    <!-- <button class="btn btn-primary" (click)="ingresar()">Log with Google</button> -->
    
    <div class="card text-center">
        <div class="card-header">
            <h2>Felicidades {{ganador}}</h2>
          
        </div>
        <div class="card-body">
          <h5 class="card-title">Ganador Marvel Cards Game</h5>
          <p class="card-text">Disfruta de tu millon de bolivares.</p>
        </div>
        <div class="card-footer text-muted">
            <h5>participantes:</h5>
          2 days ago
        </div>
      </div>
    
    </div>