<button class="btn btn-primary mt-2" (click)="volver()">Volver a los lobbies</button>

<div class="text-center">
    <h3>Lista de Juegos</h3>
</div>



<div class="">
    <ul class="list-group mt-5 d-flex align-items-center" *ngFor="let juego of myJuegos;let i=index">
        <li class="list-group-item row text-center carta">
            <h4>juego</h4>
            <p>{{juego.id}}</p>
            <h5>jugadores:{{juego.cantidadJugadores}}</h5>
            <h5>Finalizado: {{juego.finalizado}}</h5>
            <h5>Ganador: {{juego.ganador?.alias}}</h5>
        </li>
      </ul>
</div>

<!-- <button (click)="agregarJuegos()">probar</button> -->
