<!-- <button class="btn btn-primary" (click)="logOut()">LogOut</button> -->
<h3 class="text-center">Lobby</h3>
<div class="container d-flex justify-content-center">
    <h3>Jugadores {{lengthUsuario}}/5</h3>
</div>
<div class="mt-5 row">
    <div *ngFor="let usuario of usuarios" class="d-flex justify-content-center">
        <ul class="list-group col-md-4 mt-2">
            <li class="list-group-item text-center">
            {{usuario.name}}
            <span class="badge badge-primary badge-pill">14</span>
            </li>
        </ul>
    </div>
</div>

<div class="container d-flex justify-content-center mt-5">
    <button class="btn btn-primary" [disabled]="lengthUsuario <= 1 " (click)="entrarJuego()">Comenzar Juego</button>
</div>

<div class="container d-flex justify-content-center mt-2">
    <button class="btn btn-secondary" (click)="salirLobby()">Salir del lobby</button>
</div>
