.error-card {
  padding-top: 100px;
  height: 100vh;
  // background-color: #484A4A;
  
}

.error-image {
  background-image: url("../../../../assets/captain-america-char.4b7f4c07.png");
  background-repeat: no-repeat;
  background-size: contain;
}
