<div class="grid grid-nogutter surface-section text-800 " id="bg-img">
    <div
      class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center animate__animated animate__pulse"
    >
      <section>
        <span class="block text-6xl font-bold mb-1">Cards Game</span>
        <div class="text-6xl custom-text font-bold mb-3">AVAILABLE NOW</div>
        <p class="mt-0 mb-4 text-700 line-height-3">
          Plug into the pulse-pounding pursuits of Marvel Games cards!
        </p>
        <button class="primary-button" (click)="loginGoogle()">
          Sign in with google <i class="pi pi-google"></i>
        </button>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden animate__animated animate__fadeInRight">
      <img
        src="../../../assets/daredevil-marvel-comics-wallpaper-preview.jpg"
        alt="Image"
        class="md:ml-auto block md:h-full"
        style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
      />
    </div>
  </div>
  
