.home-card {
  background-image: url("../../../../assets/6704338131eac5f8ab62a23153e5d5c8712393b1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 100px;
}
